@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.sidebar{
    background-color: rgb(184, 184, 184);
    width: 400px;
    height: 100vh;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.navbar{
    padding: 38px;
}

.navbar li{
    list-style: none;
    font-size: 30px;
    padding: 35px 0;
}

.links{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.info{
    display: flex;
    justify-content: space-around;
    background-color: rgb(184, 184, 184);
    height: 55vh;
    width: 75vw;
    margin: auto;
    margin-top: 50px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fira Code', monospace;
}

.hello{
    font-size: 35px;
}

.para{
    margin-top: 5px;
    font-size: 20px;
}

.button{
    margin-top: 30px;
}

.btn{
    padding: 7px 12px;
    border-radius: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
}

.btn:hover{
    background-color: rgb(74, 74, 74);
}

.picture img{
    width: 47vh;
}
