@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.sidebar{
    background-color: red;
    width: 10vw;
    height: 100vh;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.navbar{
    padding: 38px;
}

.navbar li{
    list-style: none;
    font-size: 30px;
    padding: 35px 0;
}

.main{
    background-color: yellow;
    width: 90vw;
}

.info{
    display: flex;
    justify-content: space-around;
    background-color: rgb(165, 138, 214);
    height: 55vh;
    width: 60vw;
    margin: auto;
    margin-top: 50px;
}

.picture img{
    width: 47vh;
}